// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-item {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

p,
ol,
ul {
    line-height: 30px;
    font-size: 18px;
}

@keyframes up-and-down {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(10px);
    }
}

.hero {
    position: relative;
    background-image: url('../images/mountains.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($dark,.4);
    }
    
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($white,.55);
        transform: skew(-35deg) translateX(100vh);
        overflow: hidden;
        z-index: 1;
    }

    .hero-body,
    .container {
        padding: 0;
    }

    .hero-body {
        position: relative;
    }

    &.is-fullheight {

        .hero-body {
            align-items: flex-start;
        }
    }

    .title-wrapper {
        animation: up-and-down 2s ease-in-out infinite alternate;

        @include mobile {
            margin-top: 6rem;
        }
    }

    .title {
        font-size: calc(56px + (244 - 56) * ((100vw - 320px) / (1920 - 320)));
        line-height: .7;
        // margin-left: -9px;
        margin-left: calc(-5px + (-15 - 5) * ((100vw - 320px) / (1920 - 320)));

        // @include tablet {
        //     margin-left: -15px;
        // }
    }

    .subtitle {
        font-weight: bold;
        letter-spacing: 2px;
        line-height: .7;
        font-size: calc(16px + (46 - 16) * ((100vw - 320px) / (1920 - 320)));
        margin-left: calc(-1px + (-3 - 1) * ((100vw - 320px) / (1920 - 320)));
    }
}

.icon-scroll {
    width: 30px;
    height: 50px;
    margin-left: -20px;
    bottom: 2rem;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    z-index: 2;
    
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        width: 8px;
        height: 8px;
        background: #fff;
        margin-left: -4px;
        top: 8px;
        border-radius: 4px;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: scroll;
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

.button {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    min-width: 220px;
    font-size: 12px;

    @include mobile {
        white-space: normal;
        height: auto;
    }
    
    @include tablet {
        font-size: 14px;
        min-width: 320px;
    }
}

.card-column {

    div {
        height: 100%;
    }
}

.card {
    height: 100%;

    .card-header {
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: $primary;
        color: $white;

        p {
            color: $white;
        }
    }
}

h2 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: calc(36px + (66 - 36) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 1.5rem;
    
    @include tablet {
        margin-top: 3rem;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 10px;
        width: 120px;
        background-color: rgba($primary,.6);
    }
}

.social-icons {
    max-width: 80px;
    margin-right: auto;
    margin-left: auto;

    @include tablet {
        margin-right: 0;
    }
}

.about {

    .card {
        max-width: 400px;
        margin: 0 auto;

        @include tablet {
            max-width: auto;
        }
    }
}

.skills {
    background-color: $light;
    
    @include tablet {
        padding-bottom: 9rem;
        margin-top: 6rem;
    }

    .skill-name {
        font-weight: bold;
        font-size: 24px;
    }
    
    svg {
        transition: all .6s ease;
        font-size: calc(144px + (244 - 144) * ((100vw - 320px) / (1920 - 320)));
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        transform: scale(0.8);
    }
}

.slick-slide {
    outline: none !important;
}

.slick-dots {
    bottom: -50px !important;
}

.slick-center {
    
    svg {
        transform: scale(1.1)
    }
}

.slick-arrow {
    z-index: 2;

    &.slick-next {
        
        @include touch {
            right: 0;
        }
    }

    &.slick-prev {
        
        @include touch {
            left: 0;
        }
    }
}

.slick-prev,
.slick-next {

    &:before {
        color: $primary !important;
    }
}

.footer {
    text-align: center;

    a {
        color: $dark;

        &:hover,
        &:focus {
            color: $primary
        }
    }
    
    @include tablet {
        text-align: left;
    }
}

.input,
.textarea {
    border-radius: 0;
    background-color: $light;
    border: 0;
}

::placeholder {
    text-transform: uppercase;
}

#navbar {
    position: fixed;
    z-index: 30;
    right: 0;
    top: 0;
    display: none;
    height: 100%;
    padding: 1.5rem;
    background-color: transparent;
    transition: transform .6s ease, background-color .3s ease;

    &:hover,
    &:focus {
        transform: translateX(0) !important;
        background-color: rgba($white,.6);
    }

    @include tablet {
        display: block;
    }

    .menu-list {

        li {

            &:not(:last-of-type) {
                margin-bottom: 1.5rem;
            }
        }

        a {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 500;
            text-align: right;
            color: $white;
            letter-spacing: 3px;
            color: $dark;

            &:hover,
            &:focus {
                background-color: transparent;
                color: $primary;
            }
        }
    }
}

.project-wrapper {
    position: relative;

    &:before {
        content: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $white;
        transform: skew(-75deg) translateX(70%);
        overflow: hidden;
        z-index: 1;
        box-shadow: -198px 37px 29px 33px rgba(255,255,255,1);

        @include desktop {
            content: '';
        }
    }
}

.projects {

    @include touch {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .title-area {

        @include touch {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}

.project-description {
    position: static;
    left: 0;
    width: 100%;
    z-index: 2;
    margin-top: 1.5rem;

    @include touch {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @include desktop {
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        margin-top: 0;
    }
}

.project-description-wrapper {
    
    @include desktop {
        background-color: rgba($white,.8);
        padding: 1.5rem;
    }
}

.project-button {
    margin-top: 1.5rem;
}